.overlay--popupp--seting {
  z-index: 100;
  background-color: #d1d1d100;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}
.email-popup-filter-modal-dialog {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 42%;
  height: 80vh;
  background: #fff !important;
  padding: 20px;
  filter: drop-shadow(0px 0px 50px rgba(44, 63, 88, 0.15));
  float: right;
  border-radius: 15px;
  margin: 15px;
  z-index: 10;
  overflow: scroll;
}

img.close--icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.discover2-popup-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover2-popup-modal-content .discover2-popup-modal-body {
  width: 100%;
}

.discover2-popup-modal-body .chakra-select__icon-wrapper {
  color: white !important;
}

.pop_to,
.subject_pop input {
  border: 1px solid #e8e9eb;
  border-radius: 20px;
  background: #fff;
}

.subject_pop input {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.go2761622576 {
  --rti-main: none;
  border: none !important;
}

.message .ck.ck-editor {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e8e9eb;
}

.heading_email h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  color: var(--darkgrey);
}

.main_to_cc_bc h5,
.subject_pop h5,
.message h5 {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--emailtext);
}
.email-popup-filter-modal-dialog .cke_bottom {
  display: none !important;
}
.email-popup-filter-modal-dialog .go2761622576 * {
  font-size: 14px;
}
.email-popup-filter-modal-dialog .cke_toolbar_break {
  display: block;
  clear: initial;
}
.email-popup-filter-modal-dialog .cke_chrome {
  visibility: inherit;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .email-popup-filter-modal-dialog {
    height: 90vh;
    width: 55%;
  }
}
@media screen and (max-width: 1024px){
.email-popup-filter-modal-dialog {
    height: 88vh;
    width: 70%;
}
}
