/*  */
.sidebar--menu--dashboard ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar--menu--dashboard {
  border-right: 3px solid #e8e9eb;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
}
/* .sidebar--menu--dashboard ul li a { */
.sidebar--menu--dashboard ul li {
  padding: 30px 20px;
  display: block;
}
.sidebar--menu--dashboard ul li img {
  width: 30px;
  max-width: 100%;
}

.sidebar--menu--dashboard ul li a.active {
  position: relative;
}

.sidebar--menu--dashboard ul li a.active .badge.bg-secondary {
  display: block !important;
}

@media screen and (max-width: 860px) {
  .sidebar--menu--dashboard {
    display: none;
  }
}
