.content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
  float: right;
}

.content .side--bar--menu.hidden {
  width: 100px;
}
.content .side--bar--menu {
  width: 300px;
  border-right: 3px solid #e8e9eb;
  position: relative;
}
.main--content--min {
  width: calc(100% - 100px);
  position: relative;
}

.main--content {
  width: calc(100% - 300px);
}

@media screen and (max-width: 1400px) {
  .content .side--bar--menu {
    width: 250px;
  }
  .main--content{
    width: calc(100% - 250px);
  }
}
@media screen and (max-width: 1200px) {
  .content .side--bar--menu {
    width: 220px;
  }
}

@media screen and (max-width : 1024px){
  .content .side--bar--menu.hidden {
    width: 80px;
  }
}
@media screen and (max-width:860px) {
  .main--content,
  
  .content {
    width: 100% !important;
  }

  .content .side--bar--menu {
    display: none;
  }
}
