.email_left_section {
  width: 320px;
  height: 100vh;
  overflow-x: hidden;
}
.search_icon {
  position: relative;
}
.search_icon .search_icon {
  position: absolute;
  top: 17px;
  left: 35px;
  font-size: 14px !important;
  color: var(--emailtext);
}
.input_area {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  padding-left: 58px !important;
  color: var(--emailtext);
  background-color: var(--emailgb) !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #e8e9eb !important;
  border-right: 1px solid #e8e9eb !important;
  height: 50px;
}
.recents {
  position: absolute;
  top: 14px;
  right: 28px;
}
.recents h4 {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: var(--emailtext);
  cursor: pointer;
}
.mobile_responsive_view_inbox , .responsive_email_design{
  display: none;
}
@media screen and (max-width: 992px) {
  .email_template_wrapper_main , .main_top_bar {
    padding: 12px 20px !important; 
}
section.email_design_section {
  width: calc(85% - 155px) !important;
}
}
@media screen and (max-width: 900px) {

  .home_page_wrapper_web{
    display: none;
  }
  .mobile_responsive_view_inbox , .responsive_email_design {
    display: block;
}
.responsive_email_design .email_design_section{
  width: 100% !important;
}
}